body{
    font-size: medium;
    font-weight: 300;
    font-family: Helvetica, Verdana, sans-serif;
    background-color: beige;
    color:rgb(107, 107, 107);
    text-align: left;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 310;
}
.container{
    padding: 25px;
    border: thick;
    border-color: aliceblue;
    margin: 10px;
    height: 150px;
    border-style: double;
}